/*
==========================================================================
   START RATING OBJECT
==========================================================================
*/

.o-rating {
    .fa {
        font-size: 20px;
        margin: 0 3px;
        color: #eec522;
    }
}

.o-rating--small {
    .fa {
        font-size: 15px;
    }
}


/*
==========================================================================
   END RATING OBJECT
==========================================================================
*/