.c-footer
    .o-container
        .c-footer__menu
            nav.c-footer__nav.c-footer__nav__first
                ul.c-footer__ul
                    li.c-footer__li.c-footer__li__first ABOUT OUR STORE
                    li.c-footer__li 
                        a.c-footer__link(href="#") 
                            i.fa.fa-map-marker.c-footer__fa
                            span 68 Spring, USA, New York
                    li.c-footer__li 
                        a.c-footer__link(href="#")
                            i.fa.fa-envelope.c-footer__fa
                            span email@misty.com
                    li.c-footer__li 
                        a.c-footer__link(href="#")
                            i.fa.fa-phone.c-footer__fa
                            span +001 2233 439
            nav.c-footer__nav
                ul.c-footer__ul
                    li.c-footer__li.c-footer__li__first INFOMATION
                    li.c-footer__li 
                        a.c-footer__link(href="about-us.html") About Us
                    li.c-footer__li 
                        a.c-footer__link(href="#") Delivery Information
                    li.c-footer__li 
                        a.c-footer__link(href="#") Returns & Exchange
                    li.c-footer__li 
                        a.c-footer__link(href="#") Shipping & Delivery
                    li.c-footer__li 
                        a.c-footer__link(href="#") Privacy Policy
            nav.c-footer__nav
                ul.c-footer__ul
                    li.c-footer__li.c-footer__li__first WHAT'S HOT
                    li.c-footer__li 
                        a.c-footer__link(href="#") New Arrivals
                    li.c-footer__li 
                        a.c-footer__link(href="#") New Lookbook
                    li.c-footer__li 
                        a.c-footer__link(href="#") Hot Product
                    li.c-footer__li 
                        a.c-footer__link(href="#") Sale Off
                    li.c-footer__li 
                        a.c-footer__link(href="#") Top Trending
                    li.c-footer__li 
                        a.c-footer__link(href="#") Top Reviews
            nav.c-footer__nav
                ul.c-footer__ul
                    li.c-footer__li.c-footer__li__first QUICK LINKS
                    li.c-footer__li 
                        a.c-footer__link(href="#") Store Location
                    li.c-footer__li 
                        a.c-footer__link(href="#") My Account
                    li.c-footer__li 
                        a.c-footer__link(href="#") Orders Tracking
                    li.c-footer__li 
                        a.c-footer__link(href="#") Size Guide
                    li.c-footer__li 
                        a.c-footer__link(href="#") FAQs
            nav.c-footer__nav
                ul.c-footer__ul
                    li.c-footer__li.c-footer__li__first EXTRAS
                    li.c-footer__li 
                        a.c-footer__link(href="#") Brands
                    li.c-footer__li 
                        a.c-footer__link(href="#") Gift Certificates
                    li.c-footer__li 
                        a.c-footer__link(href="#") Affiliates
                    li.c-footer__li 
                        a.c-footer__link(href="#") Specials

        .c-footer__social
            nav.c-footer__social__nav
                ul.c-footer__social__ul
                    li.c-footer__social__li
                        a.c-footer__social__link(href="#") 
                            i.fa.fa-facebook
                    li.c-footer__social__li
                        a.c-footer__social__link(href="#") 
                            i.fa.fa-twitter
                    li.c-footer__social__li
                        a.c-footer__social__link(href="#") 
                            i.fa.fa-linkedin-square
                    li.c-footer__social__li
                        a.c-footer__social__link(href="#") 
                            i.fa.fa-google-plus
                    li.c-footer__social__li
                        a.c-footer__social__link(href="#") 
                            i.fa.fa-pinterest-p
        
        .c-footer__copyright Copyright © 2017 Misty
 
.c-map
    .c-map__baby.animated.js-baby
        img(src="images/img-baby.png")
    .c-map__top
        .c-map__text.js-map
            i.fa.fa-map-marker
            span see map
    .c-map__content.js-map__content
        .o-container
            .c-map__grid
                .c-map__google
                    iframe(width="100%" height="100%" frameborder="0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1491193191405")
                .c-map__information
                    form(action="#", method="GET").c-map__form
                        input.c-input(type='text', name='name', placeholder='Enter your name...')
                        input.c-input(type='text', name='email', placeholder='Enter your e-mail...')
                        textarea(placeholder='Enter your message...')
                        button(type='submit') Send message