.c-header
    .o-container
        .row
            .c-header__container
                .c-header__logo
                    a(href="")
                        img(src="./images/logo.png", title="Logo Misty" alt="Logo Misty")
                .c-header__bar
                    .c-header__topbar
                        ul.c-header__ul
                            li.c-header__li
                                a(href="javascript:;") 
                                    i.c-fa--green.fa.fa-search
                            li.c-header__li.c-header__li--wishlist
                                a(href="javascript:;") 
                                    i.c-fa--pink.fa.fa-heart
                                    span Wish List (3)
                                ul.c-cart.c-cart__wishlist
                                    li.c-cart__title 
                                        p 4 Items in your wishlist
                                    li.c-cart__item
                                        div.c-cart__item__slimscroll.js-cart-slimscroll
                                            div.c-cart__item__block
                                                a.c-cart__item__img(href="#") 
                                                    img(src="./images/img-sort.jpg", title="Item", alt="Item")
                                                div.c-cart__item__content
                                                    a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                    p.c-cart__item__content--price $33.00
                                                    p.c-cart__item__content--quantily Quantily: 1
                                                i.fa.fa-times
                                            div.c-cart__item__block
                                                a.c-cart__item__img(href="#") 
                                                    img(src="./images/img-sandal.jpg", title="Item", alt="Item")
                                                div.c-cart__item__content
                                                    a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                    p.c-cart__item__content--price $33.00
                                                    p.c-cart__item__content--quantily Quantily: 1
                                                i.fa.fa-times
                                            div.c-cart__item__block
                                                a.c-cart__item__img(href="#") 
                                                    img(src="./images/img-bag.jpg", title="Item", alt="Item")
                                                div.c-cart__item__content
                                                    a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                    p.c-cart__item__content--price $33.00
                                                    p.c-cart__item__content--quantily Quantily: 1
                                                i.fa.fa-times
                                            div.c-cart__item__block
                                                a.c-cart__item__img(href="#") 
                                                    img(src="./images/img-shirt.jpg", title="Item", alt="Item")
                                                div.c-cart__item__content
                                                    a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                    p.c-cart__item__content--price $33.00
                                                    p.c-cart__item__content--quantily Quantily: 1
                                                i.fa.fa-times
                                    li.c-cart__button.c-cart--one-button
                                        a.c-button.c-button__view(href="#") GO TO WISHLIST
                            li.c-header__li
                                a(href="javascript:;") 
                                    i.c-fa--green.fa.fa-user
                                    span My Account
                            li.c-header__li
                                a(href="javascript:;") 
                                    i.c-fa--green.fa.fa-lock
                                    span Sign in
                            li.c-header__li.c-mega-menu--hover
                                a(href="javascript:;") 
                                    i.fa.fa-dollar
                                    span USD
                                    i.fa.fa-angle-down
                                ul.c-mega-menu.c-mega-menu__currency
                                    li.c-mega-menu__li
                                        a(href="#") 
                                            span BRL - Brazilian Real
                                    li.c-mega-menu__li 
                                        a(href="#") 
                                            span GBP - British Pound Sterling
                                    li.c-mega-menu__li 
                                        a(href="#") 
                                            span CNY - Chinese Yuan
                                    li.c-mega-menu__li 
                                        a(href="#") 
                                            span EUR - Euro
                                    li.c-mega-menu__li 
                                        a(href="#") 
                                            span RUB - Russian Ruble
                                    li.c-mega-menu__li 
                                        a.active(href="#") 
                                            span USD - US Dollar
                            li.c-header__li.c-mega-menu--hover
                                a(href="javascript:;") 
                                    img(src="./images/img-flag-en.jpg", title="Flag EN", alt="Flag EN")
                                    span EN
                                    i.fa.fa-angle-down
                                ul.c-mega-menu.c-mega-menu__languages
                                    li.c-mega-menu__li
                                        a.active(href="#") 
                                            img(src="./images/img-flag-en.jpg", title="Flag EN", alt="Flag EN")
                                            span English
                                    li.c-mega-menu__li
                                        a(href="#") 
                                            img(src="./images/img-flag-france.jpg", title="Flag France", alt="Flag France")
                                            span France
                                    li.c-mega-menu__li
                                        a(href="#") 
                                            img(src="./images/img-flag-germany.jpg", title="Flag Germany", alt="Flag Germany")
                                            span Germany
                                    li.c-mega-menu__li
                                        a(href="#") 
                                            img(src="./images/img-flag-russia.jpg", title="Flag Russia", alt="Flag Russia")
                                            span Russia
                    .c-header__bottombar
                        .c-header__mega
                            ul.c-header__mega__ul
                                li.c-header__mega__li.c-mega-menu--hover
                                    a(href="#") 
                                        span Home
                                        i.fa.fa-angle-down
                                    ul.c-mega-menu.c-mega-menu__home
                                        li.c-mega-menu__li
                                            a.active(href="#") Home page v1
                                        li.c-mega-menu__li 
                                            a(href="#") Home page v2
                                        li.c-mega-menu__li.c-mega-menu__li--noline 
                                            a(href="#") Home page v3
                                li.c-header__mega__li.c-mega-menu--hover
                                    a(href="#") 
                                        span Mega Menu
                                        i.fa.fa-angle-down
                                    ul.c-mega-menu.c-mega-menu__dive
                                        li.c-mega-menu__li.c-mega-menu__li--noline
                                            ul 
                                                li.c-mega-menu__li.c-mega-menu__li--noline
                                                    b RECOMMENDED FOR YOU
                                                li.c-mega-menu__li
                                                    a(href="#") All Products
                                                li.c-mega-menu__li
                                                    a(href="#") New Arrivals NEW
                                                li.c-mega-menu__li
                                                    a(href="#") Hot Products
                                                li.c-mega-menu__li
                                                    a(href="#") Sale Off HOT
                                                li.c-mega-menu__li
                                                    a(href="#") Special Deals
                                                li.c-mega-menu__li
                                                    a(href="#") Top Trending
                                                li.c-mega-menu__li.c-mega-menu__li--noline 
                                                    a(href="#") Top Reviews
                                        li.c-mega-menu__li.c-mega-menu__li--noline
                                            ul 
                                                li.c-mega-menu__li.c-mega-menu__li--noline
                                                    b MISTY CATEGORIES
                                                li.c-mega-menu__li
                                                    a(href="#") Clothing
                                                li.c-mega-menu__li
                                                    a(href="#") Pants
                                                li.c-mega-menu__li
                                                    a(href="#") Caps & Snapbacks
                                                li.c-mega-menu__li
                                                    a(href="#") Sneakers
                                                li.c-mega-menu__li
                                                    a(href="#") Backpack
                                                li.c-mega-menu__li
                                                    a(href="#") Watch
                                                li.c-mega-menu__li.c-mega-menu__li--noline 
                                                    a(href="#") Accessosries
                                        li.c-mega-menu__li.c-mega-menu__li--noline
                                            ul 
                                                li.c-mega-menu__li.c-mega-menu__li--noline
                                                    b MISTY CATEGORIES
                                                li.c-mega-menu__li
                                                    a(href="#") Autumn 2017 
                                                li.c-mega-menu__li
                                                    a(href="#") Streetstyle Winter 2017
                                                li.c-mega-menu__li
                                                    a(href="#") Boys and Girls 2017
                                                li.c-mega-menu__li
                                                    a(href="#") Sneaker for Kids
                                                li.c-mega-menu__li
                                                    a(href="#") Backpack Winter
                                                li.c-mega-menu__li
                                                    a(href="#") Winter 2017
                                                li.c-mega-menu__li.c-mega-menu__li--noline 
                                                    a(href="#") Sweater of Fall
                                        li.c-mega-menu__dive--sale-off
                                            .c-mega-menu__dive--text-sale
                                                p Welcome To StyleShop
                                                h3 FLASH SALE OFF 70%
                                                a.c-button.c-button__primary(href="#") Shop Now
                                li.c-header__mega__li.c-mega-menu--hover
                                    a(href="#") 
                                        span Shop Page
                                        i.fa.fa-angle-down
                                    ul.c-mega-menu.c-mega-menu__shop
                                        li.c-mega-menu__li.c-mega-menu__li--noline.c-mega-menu__shop--left
                                            div
                                                ul 
                                                    li.c-mega-menu__li.c-mega-menu__li--noline
                                                        b SHOP PAGE
                                                    li.c-mega-menu__li
                                                        a(href="#") 2 Columns No Sidebar
                                                    li.c-mega-menu__li
                                                        a(href="#") 3 Columns No Sidebar
                                                    li.c-mega-menu__li
                                                        a(href="#") 4 Columns No Sidebar
                                                    li.c-mega-menu__li.c-mega-menu__li--noline
                                                        a(href="#") 6 Columns No Sidebar
                                                ul 
                                                    li.c-mega-menu__li.c-mega-menu__li--noline
                                                        b PRODUCT PAGE
                                                    li.c-mega-menu__li
                                                        a(href="#") Product Detail Layout 1
                                                    li.c-mega-menu__li
                                                        a(href="#") Product Detail Layout 2
                                                    li.c-mega-menu__li.c-mega-menu__li--noline
                                                        a(href="#") Product Detail Layout 3
                                            div.c-mega-menu__shop__image
                                                a(href="#")
                                                    img(src="./images/img-bebes.jpg", title="Bebes", alt="Bebes")
                                        li.c-mega-menu__li.c-mega-menu__li--noline.c-mega-menu__shop--right
                                            ul 
                                                li.c-mega-menu__li.c-mega-menu__li--noline
                                                    b PAGE
                                                li.c-mega-menu__li
                                                    a(href="#") Lookbook
                                                li.c-mega-menu__li
                                                    a(href="#") About Us
                                                li.c-mega-menu__li
                                                    a(href="#") Contact Us
                                                li.c-mega-menu__li
                                                    a(href="#") Order Complete
                                                li.c-mega-menu__li
                                                    a(href="#") Compare Product
                                                li.c-mega-menu__li
                                                    a(href="#") Login
                                                li.c-mega-menu__li
                                                    a(href="#") Register
                                                li.c-mega-menu__li.c-mega-menu__li--noline 
                                                    a(href="#") 404 Pages
                                li.c-header__mega__li.c-mega-menu--hover
                                    a(href="#") 
                                        span Blog
                                        i.fa.fa-angle-down
                                    ul.c-mega-menu.c-mega-menu__blog
                                        li.c-mega-menu__li.c-mega-menu--hover
                                            a(href="#") 
                                                span Blog Category
                                                i.c-arrow__right
                                            ul.c-mega-menu.c-mega-menu__blog__sub
                                                li.c-mega-menu__li
                                                    a(href="#") Blog List With Left Sidebar
                                                li.c-mega-menu__li.c-mega-menu__li--noline  
                                                    a(href="#") Blog List With Right Sidebar
                                        li.c-mega-menu__li.c-mega-menu--hover
                                            a(href="#") 
                                                span Blog Mansory
                                                i.c-arrow__right
                                            ul.c-mega-menu.c-mega-menu__blog__sub
                                                li.c-mega-menu__li
                                                    a(href="#") Blog Mansory With Left Sidebar
                                                li.c-mega-menu__li.c-mega-menu__li--noline  
                                                    a(href="#") Blog Mansory With Right Sid
                                        li.c-mega-menu__li.c-mega-menu--hover.c-mega-menu__li--noline  
                                            a(href="#") 
                                                span Blog Detail
                                                i.c-arrow__right
                                            ul.c-mega-menu.c-mega-menu__blog__sub
                                                li.c-mega-menu__li
                                                    a(href="#") Blog Detail With Left Sidebar
                                                li.c-mega-menu__li.c-mega-menu__li--noline  
                                                    a(href="#") Blog Detail With Right Sid
                                li.c-header__mega__li.c-mega-menu--hover
                                    a(href="#") 
                                        span Lookbook
                                        i.fa.fa-angle-down
                                    ul.c-mega-menu.c-mega-menu__lookbook
                                        li.c-mega-menu__li
                                            a(href="#") Lookbook v1
                                        li.c-mega-menu__li.c-mega-menu__li--noline  
                                            a(href="#") Lookbook v2
                                li.c-header__mega__li
                                    a(href="#") 
                                        span Buy template
                                li.c-header__mega__li.c-cart--hover
                                    a(href="#")
                                        i.fa.fa-shopping-basket
                                        .c-header__cart--number 3
                                    ul.c-cart
                                        li.c-cart__title 
                                            p 4 Items in your shopping
                                        li.c-cart__item
                                            div.c-cart__item__slimscroll.js-cart-slimscroll
                                                div.c-cart__item__block
                                                    a.c-cart__item__img(href="#") 
                                                        img(src="./images/img-sort.jpg", title="Item", alt="Item")
                                                    div.c-cart__item__content
                                                        a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                        p.c-cart__item__content--price $33.00
                                                        p.c-cart__item__content--quantily Quantily: 1
                                                    i.fa.fa-times
                                                div.c-cart__item__block
                                                    a.c-cart__item__img(href="#") 
                                                        img(src="./images/img-sandal.jpg", title="Item", alt="Item")
                                                    div.c-cart__item__content
                                                        a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                        p.c-cart__item__content--price $33.00
                                                        p.c-cart__item__content--quantily Quantily: 1
                                                    i.fa.fa-times
                                                div.c-cart__item__block
                                                    a.c-cart__item__img(href="#") 
                                                        img(src="./images/img-bag.jpg", title="Item", alt="Item")
                                                    div.c-cart__item__content
                                                        a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                        p.c-cart__item__content--price $33.00
                                                        p.c-cart__item__content--quantily Quantily: 1
                                                    i.fa.fa-times
                                                div.c-cart__item__block
                                                    a.c-cart__item__img(href="#") 
                                                        img(src="./images/img-shirt.jpg", title="Item", alt="Item")
                                                    div.c-cart__item__content
                                                        a.c-cart__item__content--link(href="#") Oversized Hooded Poncho
                                                        p.c-cart__item__content--price $33.00
                                                        p.c-cart__item__content--quantily Quantily: 1
                                                    i.fa.fa-times
                                        li.c-cart__button.c-cart--multi-button
                                            a.c-button.c-button__view(href="#") VIEW CART
                                            a.c-button.c-button__gray(href="#") CHECK OUT
                                                
        

