/*
==========================================================================
   START GRATEFUL COMPONENT
==========================================================================
*/

.c-grateful {
    background: url(../images/home/bg-grateful.jpg) no-repeat center center;
    width: 100%;
    padding: 113px 0;
}

.c-grateful__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    position: relative;
}

.c-grateful__bg {
    &--ever {
        @include sprite($bg-grateful-1);
    }
    &--happy {
        @include sprite($bg-grateful-2);
    }
    &--thank {
        @include sprite($bg-grateful-3);
    }
    &--mom {
        @include sprite($bg-grateful-4);
    }
    &--love {
        @include sprite($bg-grateful-5);
    }
    &--best {
        @include sprite($bg-grateful-6);
    }
}

.c-grateful__img {
    position: absolute;
    z-index: 2;
}

.c-grateful__light {
    background: url(../images/home/img-light.png) no-repeat center center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 47px;
    height: 46px;

    &--left {
        animation: light .8s ease-in-out infinite alternate;
    }

    &--half {
        top: 73px;
        left: 26%;
        animation: light .7s ease-in-out infinite alternate;
    }

    &--middle {
        top: 17px;
        left: 62%;
        animation: light 1s ease-in-out infinite alternate;
    }

    &--right {
        top: 28px;
        left: 95%;
        animation: light .7s ease-in-out infinite alternate;
    }
}

@keyframes light {  
    from { opacity: 0;}
    to {opacity: 1;}
}

/*
==========================================================================
   END GRATEFUL COMPONENT
==========================================================================
*/