/*
==========================================================================
   START YIELD COMPONENT
==========================================================================
*/

.c-yield {
    padding: 100px 0;
    position: relative;
}

.c-yield__wire {
    margin-top: 40px;
}

.c-yield__public {
    transition: all .3s linear;
    display: none;
    opacity: 0;
    transform-origin: center center;
    &.active {
        animation: yield-animate .3s linear forwards;
    }
}

@keyframes yield-animate {
    0% {
        opacity: 0;
        display: none;
        transform: scale(0, 0);
    }
    25% {
        opacity: 0.5;
        display: block;
        transform: scale(0.25, 0.25);
    }
    50% {
        opacity: 0.7;
        display: block;
        transform: scale(0.5, 0.5);
    }
    75% {
        opacity: 0.7;
        display: block;
        transform: scale(0.75, 0.75);
    }
    100% {
        display: block;
        opacity: 1;
        transform: scale(1, 1);
    }
}

/*
==========================================================================
   END YIELD COMPONENT
==========================================================================
*/