/*
==========================================================================
   START FA (FONTAWESOME) COMPONENT
==========================================================================
*/

.fa {
    cursor: pointer;
}
.c-fa--pink {
    color: $global-color-primary;
}

.c-fa--green {
    color: $global-color-branch;
}

/*
==========================================================================
   END FA (FONTAWESOME) COMPONENT
==========================================================================
*/